@font-face{font-family:"Special Elite"; src:url('../police/special-elite/SpecialElite.ttf')}
@font-face{font-family: "didact gothic"; src:url('../police/didact-gothic/DidactGothic.ttf')}

body{
    font-family:"didact gothic";
    background-image: url("images/fond1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

h1{
    font-family: Special Elite;
    text-align:center;
}

h2{
    position: relative;
    margin-top: 0.8em;

}
nav a{
    list-style: none;
    text-decoration: none;  
    color: black;
}


#MadeWith{
    margin-top: 20em;
}


/*CSS Index*/

.logo {
    width: 50px;
    height: 50px;
    position: relative;
    top:15px;
    padding-right:3px;
    margin-left: 10px;
    margin-right: 3px;
}

.coeur {
    width: 20px;
    height: 20px;
}

.boutton {
    font-size:0.8em;
    border-radius:0px;
    background-color: white;
    cursor: pointer;
    color: black;
   
    -webkit-border-radius:3px;
    -moz-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;
}

.boutton:hover{
    background-color: #ae10da;
    color: white;
    font-size: 1em;
}


footer{
    position: -webkit-sticky;
	position: sticky;
	top: 20px;

    width:100%;  
    padding-top:50px;  
    height:50px;
    }

footer a {
color: black;
text-decoration: none;
    }

/*CSS spécifique à la page ange*/
table{
    border: 1px solid black;    
}
#tableauDeLange{
    margin-left: 30em;
    margin-top: 3em;
    position: relative;
    text-align: center ;
}

caption{
    background-color: #cb6ce6;
    background: solid;
    color: white;
}

#ValideTableauAnge{
    margin-top: 2em;
    background-color: #cb6ce6;
    color: white;
    cursor: pointer;
    width: 150px;
    line-height: 50px;
    border-radius: 10px;
    
}

#ValideTableauAnge:hover{
 
    background-color: #ae10da;}



#MadeWith{
    margin-top: 20em;
    position: center;
}

.pageange {
    background-image: url(../css/images/angegardien.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
.mobile3{ 
    width: 360px; 
    min-height: 350px; 
    background: #fff;
    border-width:100px 20px; 
    border-color: #33322f;
    border-style: solid; 
    border-radius: 30px;
    margin: 30px auto 0; 
    position: absolute; top: 150px; left: 500px;
    
}

    #table3{
        width: 100%;
        text-align: center;
        position: relative;
        margin: 0 0 40px 0;
        color: black;
    }
    
    .vertical-menu {
        width: 200px; 
      }
      
      .vertical-menu a {
        background-color: rgb(255, 255, 255); 
        color: black; 
        display: block; 
        padding: 25px; 
        text-decoration: none; 
      }
      
      .vertical-menu a:hover {
        background-color: #ccc;
      }
      
      .vertical-menu a.active {
        background-color:#cb6ce6; 
        color: white;
      }
/*CSS Spécifique à la page d'erreur*/

#Smileypascontent{
    width: 50px;
    height: 50px;
}


/*CSS page Client */

#logoRS{
    position: relative;
    margin-top: 2px;
    text-align: center;
}
.logo2 {
    width: 100px;
    height: 100px;
    object-position: 50% 50%;
}
#nav2{
    position: relative;
    margin-right: 200px;
    margin-left :200px;
}
#nav3 {
    position: relative;
    margin-top: 2em;
    text-align: center;
}
.join2{
    text-transform: uppercase;
    text-decoration:none;
    background-color: #cb6ce6;
    padding: 0;
    border-radius: 10px;
    border-bottom: 5px solid white;
    padding : 1em;
    padding-left: 4em;
    padding-right : 4em;
    margin-left: 1px;
    margin-right: 4em;
    border-color: #cb6ce6;
    border-style: outset
}
.join2:hover{
    text-transform: uppercase;
    text-decoration:none;
    background-color: #cb6ce6;
    padding: 0;
    border-radius: 10px;
    border-bottom: 5px solid white;
    padding : 1em;
    padding-left: 4em;
    padding-right : 4em;
    margin-left: 1px;
    margin-right: 4em;
    border-color: #cb6ce6;
    border-style: outset;
    background-color: #ae10da;
    color: white;
}
.mobile2{
    width: 260px; 
    min-height: 250px; 
    background: #fff;
    border-width:70px 20px; 
    border-color: #33322f;
    border-style: solid; 
    border-radius: 30px;
    margin: 30px auto 0;
}

#table2{ 
    border:none;         
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 0 40px 0;}
/*CSS Identification */

.join{
    text-transform: uppercase;
    text-decoration:none;
    background-color: #cb6ce6;
    padding: 0;
    border-radius: 10px;
    border-bottom: 5px solid white;
    padding : 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-color: #cb6ce6;
    border-style: outset
}
.join:hover{
    text-transform: uppercase;
    text-decoration:none;
    background-color: #cb6ce6;
    padding: 0;
    border-radius: 10px;
    border-bottom: 5px solid white;
    padding : 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-color: #cb6ce6;
    border-style: outset;
    background-color: #ae10da;
    color: white;
}
 
#nav1{
    position: relative;
    margin-top: 3.5em;
    text-align: center;
}

/* CSS message supprimé */

.mobile{ 
    width: 360px; 
    min-height: 350px; 
    background: #fff;
    border-width:100px 20px; 
    border-color: #33322f;
    border-style: solid; 
    border-radius: 30px;
    margin: 30px auto 0; }

    #table{
        width: 100%;
        text-align: center;
        position: relative;
        margin: 0 0 40px 0;
    }

    /*CSS Programmation */

.programmer{
    position: relative;
    margin-top : 60px;
}
.description{
    position : relative;
margin-right : 270px;
}
#visibilite{
    margin-top : 70px;
}
#texteEntree{
    resize :none;
}
