@font-face{font-family:"Special Elite"; src:url('../police/special-elite/SpecialElite.ttf')}
@font-face{font-family: "didact gothic"; src:url('../police/didact-gothic/DidactGothic.ttf')}

body{
    font-family:"didact gothic";
    background-image: url("images/fond1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

h1{
    font-family: Special Elite;
    text-align:center;
}

nav a{
    list-style: none;
    text-decoration: none;  
    color: black;
}

.join{
    text-transform: uppercase;
    text-decoration:none;
    background-color: #cb6ce6;
    padding: 0;
    border-radius: 10px;
    border-bottom: 5px solid white;
}

#MadeWith{
    margin-top: 20em;
}


/*CSS Index*/

.logo {
    width: 50px;
    height: 50px;
    position: relative;
    top:15px;
    padding-right:3px;
}

.coeur {
    width: 20px;
    height: 20px;
}

.boutton {
    text-decoration: underline;
    font-size:0.8em;
    border-radius:0px;
    background-color: white;
    cursor: pointer;
    color: black;
   
    -webkit-border-radius:3px;
    -moz-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;
}

.boutton:hover{
    background-color: #ae10da;
    color: white;
    font-size: 1em;
}


footer{
    position:absolute;  
    bottom:0;  
    width:100%;  
    padding-top:50px;  
    height:50px;
    }

/*CSS spécifique à la page ange*/
table{
    border: 1px solid black;    
}
#tableauDeLange{
    margin-left: 35em;
    margin-top: 3em;
    position: relative;
    text-align: center ;
}

caption{
    background-color: #cb6ce6;
    background: solid;
    color: white;
}

#ValideTableauAnge{
    margin-top: 2em;
    background-color: #cb6ce6;
    color: white;
    cursor: pointer;
    
}

#ValideTableauAnge:hover{
 
    background-color: #ae10da;}



#MadeWith{
    margin-top: 20em;
}

/*CSS Spécifique à la page d'erreur*/

#Smileypascontent{
    width: 50px;
    height: 50px;
}


/*CSS page Client */

.logo2 {
    width: 100px;
    height: 100px;
    object-position: 50% 50%;
}

