<!DOCTYPE html>
<html>
    <head>
        <title> Page d'accueil visiteur</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="style.css">
	    <meta name="testament" content="testament,numérique,souvenirs,patrimoine"/> 
    </head>
    <body>
    <h1 id="titre">Les Souvenirs Numériques</h1>
    <section>
        <p>"Commémorer vos proches avec des <br> souvenirs créés par eux"</p>
    </section>
    <nav id="nav1">

               <p> <a href="inscription" class="join">Entrer un compte</a></p>

    </nav>
    <nav id="nav2">
                <a href="A propos">A propos</a>
                <a href="L'équipe">L'équipe</a>
                <a href="Nos valeurs">Nos valeurs</a>
                <a href="Notre mission">Notre mission</a>
                <a href="Nous contacter">Nous contacter</a>
    </nav>
    <p>Made with></p>
</body>
</html>

