<!DOCTYPE html>
<html lang=fr>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../static/css/style.css">
	    <title> A propose de l'équipe</title>
        <meta name="testament" content="testament,numérique,souvenirs,patrimoine"/> 
        <link rel="shortcut icon" type="image/png" href="../static/css/images/logoSouvenirNumerique.png"/>
    </head>
    <body class="apropos">
     <h1>L'équipe</h1>
        <p>Nous sommes une jeune équipe, passionnée par le web et le partage d’informations.<br>
            Nous avons tous des expériences de vie différentes et avons déjà été confrontés plusieurs fois à la perte d’un proche.Nous avons pensé à vous tous, à vos vies, vos proches,
            au fait que nous sommes tous égaux face à la mort. Peu importe nos origines, nos confessions et nos croyances. <br>
            "Les souvenirs numériques" sont accessibles à tous !<br>
            <br>
            Nous avons pris beaucoup de plaisir à construire ce site et à imaginer tout ce que nous pouvions vous 
            offrir. Notre but est de vous permettre de ne pas tomber dans l’oubli ou justement de vous faire oublier.
             C’est vous qui décidez de comment gérer votre vie post mortem !</p>

     <h1>Comment ça marche ?</h1>
     Les souvenirs numériques vous accompagne dans la dernière étape de votre vie en garantissant la sécurité de vos données personnelles et administratives que vous souhaitez 
     transmettre après votre disparition. N’ayons pas peur des mots, nous 
     ne sommes pas éternels. Nous vivons à une époque où le temps nous manque, il file à vive allure. Nos liens familiaux et amicaux peuvent en subir les conséquences.<br>

     <ul class="liste">
         <li><h2>Désignez vos anges gardiens</h2><br>
            Les personnes en qui vous avez entièrement confiance: des amis, <br>
            des cousins, votre notaire ou avocat... Qui vous voulez. <br>
            Indiquez leurs adresses mail et ils seront la clé pour déclencher <br>
            l'envoi de vos messages et informations post mortem.</li><img src="../static/css/images/ange.png" class="logo"/>
        <li><h2>Ecrivez des messages personnalisés</h2><br>
            Exprimez-vous ! Vous choisissez pouvez choisir la date d’envoi de vos messages,<br>
             immédiatement après votre disparition ou à une date précise, un anniversaire, <br>
             un évènement clé de votre vie… Préparez votre message et définissez précisément le jour d’envoi.<br></li><img src="../static/css/images/message.png" class="logo"/>
        <li><h2>Choisissez de tout supprimer</h2><br>
        Si vous le souhaitez, vous pouvez choisir de tout supprimer ! Fermer à tout jamais un de vos compte. <br>
        Pour cela, rien de plus simple, vous choisissez l'option sur votre page d'accueil, et dés que l'ange <br>
        averti de votre décés, le compte est automatiquement supprimé</li><img src="../static/css/images/filled-trash.png" class="logo"/>
     </ul>

     <h1>Contactez-nous</h1>
     <p class="liste">Nous n’avons peut-être pas pensé à tout ce que vous vous demandez dans notre FAQ <br>
         ou même si vous voulez nous écrire un mot, dire que vous êtes content... Ecrivez-nous !<br>
        <br>
        Mail : contact@lessouvenirsnumériques.com<br>
        Site internet : www.souvenirsnumériques.com</p>
        <img src="../static/css/images/contactez-nous.png" class="logo"/>
    </body>
</html>