<!DOCTYPE html>
<html>
    <head>
        <title> Souvenirs numériques</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="style.css">
	    <meta name="testament" content="testament,numérique,souvenirs,patrimoine"/> 
    </head>
    <body>
        <h1 id="titre">Connexion</h1>
        <form action = "index.php" method="post"></form>
            Identifiant <input type="text" name="identifiant">
            Mot de passe <input type="password" id="pass" name="password"
            minlength="8" required>
    </body>