<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <title> Identification</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <!--"../static/css/style.css"-->
    </head>
    <body>
        <h1 id="titre">Pourquoi souhaitez-vous utiliser <br>Les Souvenirs Numériques ?</h1>
        <nav id="nav1">
            <p> <a href="/PageClient" class="join">Faire mon testament</a>
             <a href="/PageAnge" class="join">Je suis un Ange </a></p>
        </nav>
        <button id="info">test1</button>
        <script type="module" src="APILinkedin.js"></script>
    </body>
</html>
