<!DOCTYPE html>
<html>
    <head>
        <title> Identification</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="css/style.css">
        <!--"../static/css/style.css"-->
    </head>
    <body>
        <h1 id="titre">Pourquoi souhaitez-vous utiliser <br>Les Souvenirs Numériques ?</h1>
        <nav id="nav1">
            <p> <a href="/PageClient" class="join">Faire mon testament</a>
             <a href="/PageAnge" class="join">Je suis un Ange </a></p>
        </nav>
    </body>
</html>
