<!DOCTYPE html>
<html>
    <head>
        <title> Identification</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <h1 id="titre">Pourquoi souhaitez-vous utiliser <br>Les Souvenirs Numériques ?</h1>
        <nav id="nav1">
            <p> <a href="client" class="join">Faire mon testament</a>
             <a href="ange" class="join">Je suis un Ange </a></p>
        </nav>
        <nav id="nav2">
            <a href="A propos">A propos</a>
            <a href="L'équipe">L'équipe</a>
            <a href="Nos valeurs">Nos valeurs</a>
            <a href="Notre mission">Notre mission</a>
            <a href="Nous contacter">Nous contacter</a>
        </nav>
    </body>
</html>