<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="css/style.css">
	    <title> Page d'accueil client</title>
	    <meta name="testament" content="testament,numérique,souvenirs,patrimoine"/> 
    </head>
  <body>
    <h1>Mes Souvenirs Numériques</h1>
    <h2>Choisissez votre réseau social : </h2>

    <table>
      <nav id="nav2">
        <tr><input type="button" value="Sélectionner des Souvenirs" class="join"></tr>
        <tr><input type="button" value="Programmer un message" class="join"></tr>
        <tr><input type="button" value="Supprimer un compte" class="join"></tr>
      </nav>
        <tr>
            <td><img src="css/images/logo Insta.png" class="logo2"></td>
            <td><img src="css/images/LinkedIn_logo_initials.png" class="logo2"></td>
        </tr>
    </table>
    <!--Apropos/madewith-->
  </body>
</html>