<!DOCTOTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
	    <title> Formulaire </title>
	    <meta name="testament" content="testament,numérique,souvenirs,patrimoine"/> 
        <link rel="stylesheet" href="style formulaire.css">
    </head>

    <body> 
        <h1>Inscription</h1>
        <form method="POST" action="traitement.php">

        <p><label for="Nom">Nom</label></p>
        <p><input type="text" name="nomClient" id="nom"/></p>

        <p><label for="Prénom">Prénom</label></p>
        <p><input type="text" name="prenomClient" id="prenom"/></p>

        <p><label for="Date de naissance">Date de naissance</label></p>
        <p><input type="date" name="dateNaissance" id="dateNaissance"/></p>
        
        <p><label for="Pays">Pays</label></p>
        <p><input type="text" name="Pays" id="pays"/></p>

        <p><label for="Téléphone">Téléphone</label></p>
        <p><input type="tel" name="Téléphone" id="téléphone"/></p>

        <p><label for="E-mail">E-mail</label></p>
        <p><input type="email" name="E-mail" id="e-mail"/></p>

        <p><label for="Mot de passe">Mot de passe</label></p>
        <p><input type="password" name="motDePasse" id="mdp"/></p>

        <p><label for="Mot de passe">Confirmation mot de passe</label></p>
        <p><input type="password" name="motDePasse" id="mdp"/></p>
    
        <p><input type="button" value="Terminer"></p>
        </form>

        <p>Made with <img src:"coeur.jpg" /></p>
    </body>

</html>