<!DOCTYPE html>
<html>
    <head>
        <title> Souvenirs numériques</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="css/style.css">
	    <meta name="testament" content="Error,testament,numérique,souvenirs,patrimoine"/> 
    </head>
    <body>
      <H1>Bienvenue dans Les Souvenirs Numériques</H1>
      <img id="Smileypascontent" src="css/images/error.svg.png" alt="Error">
      <div>
      <p id="TextError">Une erreur c'est produite,veuillez retourner à la page d'accueil</p>
      <a href="/">Page d'acceuil</a>
      <p id="MadeWith">Made with<img src = "css/images/coeur.png" alt = "love" class="coeur"></p>
    </div>
    
