<!DOCTYPE html>
<html lang=fr>
    <head>
        <title>L'ange des souvenirs numériques</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="css/style.css">
	    <meta name="testament" content="testament,numérique,souvenirs,patrimoine,ange,connecté"/> 
    </head>
    <h1>Bienvenue dans les souvenirs numériques</h1>
    <div id="description">
    <p>Si l'un de nos clients vous a choisi comme étant son ange, il apparaîtra ci-dessous.</p>
    <p>Vous avez la responsabilité de nous avertir de son décès. Soyez vigilents</p>
    </div>
    <body>
        <TABLE BORDER="1"id="tableauDeLange" cellpadding= > 
            <CAPTION> Qui nous a quitté? </CAPTION> 
            <TR> 
            <TH>N°</TH>
           <TH> Nom-Prénom </TH> 
           <TH> Mort? </TH> 
            </TR> 

            <TR id="lesClientsAnge"> 
           <TH> 1 </TH> 
           <TD> Dupont Paul </TD> 
           <TD> <input type="checkbox" name="Dead" id="isDead"> </TD> 
            </TR> 
          </TABLE>
          <form action="Put">
              <input type="submit" value="Enregistrer" id="ValideTableauAnge">
          </form>
          <footer>
            <a href="A propos">À propos | Made with <img src = "css/images/coeur.png" alt = "love" class="coeur"></a>
        </footer>
</body>
</html>

