<!DOCTYPE html>
<html lang=fr>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../..//static/css/style.css">
	    <title>Linkedin</title>
        <link rel="shortcut icon" type="image/png" th:href="@{/css/images/logoSouvenirNumerique.png}" href="../static/css/images/logoSouvenirNumerique.png"/>
	    <meta name="testament" content="testament,numérique,souvenirs,patrimoine"/> 
    </head>
    <body class="connected">
        <section id="section1">
    <img src="../../static/css/images/LinkedIn_logo_initials.png" id="logo3">
    <div class="text">
    <h2>Connexion Réussie !</h2>
    <p>
    Vous êtes maintenant connecté(e) <br>à votre compte LinkedIn <br>
    Cliquez <a th:href="/Identification" href="../Identification.html">Ici</a> <br> pour débuter votre testament<br> ou déclarer un décès.
    </p>
    </div>
     <img src="../..//static/css/images/blanc.png" id="blanc">
    </section>
</body>
</html>
